<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./big_kunai</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{13,30}</string>
    <key>spriteSourceSize</key>
    <string>{13,30}</string>
    <key>textureRect</key>
    <string>{{74,0},{13,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./bird</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{10,12}</string>
    <key>spriteSourceSize</key>
    <string>{10,12}</string>
    <key>textureRect</key>
    <string>{{14,74},{10,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./energy_ball</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{12,12}</string>
    <key>spriteSourceSize</key>
    <string>{14,14}</string>
    <key>textureRect</key>
    <string>{{0,74},{12,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./explosion_kunai</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{12,27}</string>
    <key>spriteSourceSize</key>
    <string>{12,27}</string>
    <key>textureRect</key>
    <string>{{74,32},{12,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./kunai</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{6,13}</string>
    <key>spriteSourceSize</key>
    <string>{6,13}</string>
    <key>textureRect</key>
    <string>{{64,46},{6,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./lighting_n0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,8}</string>
    <key>spriteSize</key>
    <string>{26,14}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{60,63},{26,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./lighting_n1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,3}</string>
    <key>spriteSize</key>
    <string>{22,22}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{32,22},{22,22}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./lighting_n2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-3}</string>
    <key>spriteSize</key>
    <string>{24,23}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{0,32},{24,23}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./lighting_n3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-7}</string>
    <key>spriteSize</key>
    <string>{26,15}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{32,63},{26,15}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./lighting_n4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-8}</string>
    <key>spriteSize</key>
    <string>{30,15}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{32,46},{30,15}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./lighting_n5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-8}</string>
    <key>spriteSize</key>
    <string>{28,15}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{0,57},{28,15}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./shuriken</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{56,22},{16,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./spinner</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{30,30}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{0,0},{30,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./sword</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{40,20}</string>
    <key>spriteSourceSize</key>
    <string>{40,20}</string>
    <key>textureRect</key>
    <string>{{32,0},{40,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{89,88}</string>
   <key>textureFileName</key>
   <string>weapon.png</string>
  </dict>
 </dict>
</plist>
