<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./Handle</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{62,62}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{92,0},{62,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Joystick</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{90,90}</string>
    <key>spriteSourceSize</key>
    <string>{90,90}</string>
    <key>textureRect</key>
    <string>{{0,0},{90,90}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LifeBarMiniProgress</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{18,4}</string>
    <key>spriteSourceSize</key>
    <string>{18,4}</string>
    <key>textureRect</key>
    <string>{{92,84},{18,4}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./LifeBarMiniUnder</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{18,4}</string>
    <key>spriteSourceSize</key>
    <string>{18,4}</string>
    <key>textureRect</key>
    <string>{{112,82},{18,4}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./XPBar</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{356,6}</string>
    <key>spriteSourceSize</key>
    <string>{360,10}</string>
    <key>textureRect</key>
    <string>{{0,102},{356,6}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./XPBarUnder</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{358,8}</string>
    <key>spriteSourceSize</key>
    <string>{360,10}</string>
    <key>textureRect</key>
    <string>{{0,92},{358,8}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./coinzz</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{130,64},{16,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./iconContain</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{18,18}</string>
    <key>spriteSourceSize</key>
    <string>{18,18}</string>
    <key>textureRect</key>
    <string>{{92,64},{18,18}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./icon_attack</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{156,0},{16,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./icon_big_kunai</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{13,14}</string>
    <key>spriteSourceSize</key>
    <string>{13,14}</string>
    <key>textureRect</key>
    <string>{{210,36},{13,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./icon_coin_gain</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{156,18},{16,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./icon_curse</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{156,36},{16,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./icon_explosion_kunai</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{148,64},{16,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./icon_health</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{174,0},{16,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./icon_kunai</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{174,18},{16,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./icon_lightning_scroll</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{12,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{202,64},{12,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./icon_ninjutsu_spell</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{174,36},{16,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./icon_pickup_range</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{166,64},{16,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./icon_reduce_receive_damage</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{192,0},{16,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./icon_shuriken</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{192,18},{16,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./icon_speed</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{184,64},{16,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./icon_spinner</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{192,36},{16,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./icon_sword</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{210,0},{16,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./icon_xp_gain</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{210,18},{16,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./skull</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,16}</string>
    <key>spriteSourceSize</key>
    <string>{16,16}</string>
    <key>textureRect</key>
    <string>{{112,64},{16,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{360,110}</string>
   <key>textureFileName</key>
   <string>gameSceneUI.png</string>
  </dict>
 </dict>
</plist>
