<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./DeidaraDown1</key>
   <dict>
    <key>frame</key>
    <string>{{44,96},{20,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{20,22}</string>
   </dict>
   <key>./DeidaraDown2</key>
   <dict>
    <key>frame</key>
    <string>{{88,72},{20,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{20,22}</string>
   </dict>
   <key>./DeidaraDown3</key>
   <dict>
    <key>frame</key>
    <string>{{66,96},{20,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{20,22}</string>
   </dict>
   <key>./DeidaraDown4</key>
   <dict>
    <key>frame</key>
    <string>{{88,96},{20,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{20,22}</string>
   </dict>
   <key>./DeidaraDown5</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{20,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{20,22}</string>
   </dict>
   <key>./DeidaraDown6</key>
   <dict>
    <key>frame</key>
    <string>{{22,0},{20,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{20,22}</string>
   </dict>
   <key>./DeidaraDown7</key>
   <dict>
    <key>frame</key>
    <string>{{0,24},{20,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{20,22}</string>
   </dict>
   <key>./DeidaraDown8</key>
   <dict>
    <key>frame</key>
    <string>{{22,24},{20,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{20,22}</string>
   </dict>
   <key>./DeidaraIndie</key>
   <dict>
    <key>frame</key>
    <string>{{44,0},{20,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{20,22}</string>
   </dict>
   <key>./DeidaraLeft1</key>
   <dict>
    <key>frame</key>
    <string>{{0,48},{20,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{20,22}</string>
   </dict>
   <key>./DeidaraLeft2</key>
   <dict>
    <key>frame</key>
    <string>{{44,24},{20,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{20,22}</string>
   </dict>
   <key>./DeidaraLeft3</key>
   <dict>
    <key>frame</key>
    <string>{{22,48},{20,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{20,22}</string>
   </dict>
   <key>./DeidaraLeft4</key>
   <dict>
    <key>frame</key>
    <string>{{44,48},{20,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{20,22}</string>
   </dict>
   <key>./DeidaraLeft5</key>
   <dict>
    <key>frame</key>
    <string>{{66,0},{20,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{20,22}</string>
   </dict>
   <key>./DeidaraLeft6</key>
   <dict>
    <key>frame</key>
    <string>{{66,24},{20,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{20,22}</string>
   </dict>
   <key>./DeidaraLeft7</key>
   <dict>
    <key>frame</key>
    <string>{{0,72},{20,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{20,22}</string>
   </dict>
   <key>./DeidaraLeft8</key>
   <dict>
    <key>frame</key>
    <string>{{22,72},{20,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{20,22}</string>
   </dict>
   <key>./DeidaraRight1</key>
   <dict>
    <key>frame</key>
    <string>{{66,48},{20,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{20,22}</string>
   </dict>
   <key>./DeidaraRight2</key>
   <dict>
    <key>frame</key>
    <string>{{44,72},{20,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{20,22}</string>
   </dict>
   <key>./DeidaraRight3</key>
   <dict>
    <key>frame</key>
    <string>{{88,0},{20,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{20,22}</string>
   </dict>
   <key>./DeidaraRight4</key>
   <dict>
    <key>frame</key>
    <string>{{88,24},{20,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{20,22}</string>
   </dict>
   <key>./DeidaraRight5</key>
   <dict>
    <key>frame</key>
    <string>{{0,96},{20,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{20,22}</string>
   </dict>
   <key>./DeidaraRight6</key>
   <dict>
    <key>frame</key>
    <string>{{66,72},{20,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{20,22}</string>
   </dict>
   <key>./DeidaraRight7</key>
   <dict>
    <key>frame</key>
    <string>{{22,96},{20,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{20,22}</string>
   </dict>
   <key>./DeidaraRight8</key>
   <dict>
    <key>frame</key>
    <string>{{88,48},{20,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{20,22}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>Deidara.png</string>
  </dict>
 </dict>
</plist>
