<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./n0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{7,8}</string>
    <key>spriteSourceSize</key>
    <string>{7,8}</string>
    <key>textureRect</key>
    <string>{{9,20},{7,8}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./n1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{5,8}</string>
    <key>spriteSourceSize</key>
    <string>{7,8}</string>
    <key>textureRect</key>
    <string>{{27,0},{5,8}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./n2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{7,8}</string>
    <key>spriteSourceSize</key>
    <string>{7,8}</string>
    <key>textureRect</key>
    <string>{{18,20},{7,8}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./n3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{7,8}</string>
    <key>spriteSourceSize</key>
    <string>{7,8}</string>
    <key>textureRect</key>
    <string>{{0,0},{7,8}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./n4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{7,8}</string>
    <key>spriteSourceSize</key>
    <string>{7,8}</string>
    <key>textureRect</key>
    <string>{{9,0},{7,8}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./n5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{7,8}</string>
    <key>spriteSourceSize</key>
    <string>{7,8}</string>
    <key>textureRect</key>
    <string>{{0,10},{7,8}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./n6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{7,8}</string>
    <key>spriteSourceSize</key>
    <string>{7,8}</string>
    <key>textureRect</key>
    <string>{{9,10},{7,8}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./n7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{7,8}</string>
    <key>spriteSourceSize</key>
    <string>{7,8}</string>
    <key>textureRect</key>
    <string>{{18,0},{7,8}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./n8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{7,8}</string>
    <key>spriteSourceSize</key>
    <string>{7,8}</string>
    <key>textureRect</key>
    <string>{{0,20},{7,8}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./n9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{7,8}</string>
    <key>spriteSourceSize</key>
    <string>{7,8}</string>
    <key>textureRect</key>
    <string>{{18,10},{7,8}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{34,30}</string>
   <key>textureFileName</key>
   <string>number.png</string>
  </dict>
 </dict>
</plist>
