<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./blueGem</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{10,12}</string>
    <key>spriteSourceSize</key>
    <string>{12,12}</string>
    <key>textureRect</key>
    <string>{{20,32},{10,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./bomb</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{18,20}</string>
    <key>spriteSourceSize</key>
    <string>{24,24}</string>
    <key>textureRect</key>
    <string>{{0,0},{18,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./chest</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{16,12}</string>
    <key>spriteSourceSize</key>
    <string>{16,14}</string>
    <key>textureRect</key>
    <string>{{0,22},{16,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./coin</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{10,10}</string>
    <key>spriteSourceSize</key>
    <string>{12,12}</string>
    <key>textureRect</key>
    <string>{{32,32},{10,10}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./greenGem</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{10,12}</string>
    <key>spriteSourceSize</key>
    <string>{12,12}</string>
    <key>textureRect</key>
    <string>{{38,0},{10,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./heart</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{14,12}</string>
    <key>spriteSourceSize</key>
    <string>{14,14}</string>
    <key>textureRect</key>
    <string>{{20,18},{14,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./magnet</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,16}</string>
    <key>spriteSourceSize</key>
    <string>{20,20}</string>
    <key>textureRect</key>
    <string>{{20,0},{16,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./redGem</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{10,12}</string>
    <key>spriteSourceSize</key>
    <string>{12,12}</string>
    <key>textureRect</key>
    <string>{{36,18},{10,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{50,46}</string>
   <key>textureFileName</key>
   <string>items.png</string>
  </dict>
 </dict>
</plist>
