<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./Cyclop1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{37,33}</string>
    <key>spriteSourceSize</key>
    <string>{37,36}</string>
    <key>textureRect</key>
    <string>{{0,38},{37,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Cyclop2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{35,36}</string>
    <key>spriteSourceSize</key>
    <string>{37,36}</string>
    <key>textureRect</key>
    <string>{{0,0},{35,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Cyclop3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{37,34}</string>
    <key>spriteSourceSize</key>
    <string>{37,36}</string>
    <key>textureRect</key>
    <string>{{74,36},{37,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Cyclop4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{35,36}</string>
    <key>spriteSourceSize</key>
    <string>{37,36}</string>
    <key>textureRect</key>
    <string>{{37,0},{35,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Cyclop5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{37,34}</string>
    <key>spriteSourceSize</key>
    <string>{37,36}</string>
    <key>textureRect</key>
    <string>{{74,0},{37,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{113,73}</string>
   <key>textureFileName</key>
   <string>cyclop.png</string>
  </dict>
 </dict>
</plist>
