<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./giant_bamboo0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{48,52}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{104,0},{48,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./giant_bamboo1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{48,51}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{154,0},{48,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./giant_bamboo10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{48,46}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{0,109},{48,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./giant_bamboo11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-4}</string>
    <key>spriteSize</key>
    <string>{48,50}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{154,106},{48,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./giant_bamboo2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,2}</string>
    <key>spriteSize</key>
    <string>{50,52}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{52,55},{50,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./giant_bamboo3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,2}</string>
    <key>spriteSize</key>
    <string>{50,53}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{52,0},{50,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./giant_bamboo4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{48,46}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{50,109},{48,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./giant_bamboo5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-4}</string>
    <key>spriteSize</key>
    <string>{48,50}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{154,106},{48,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./giant_bamboo6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{48,52}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{104,54},{48,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./giant_bamboo7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{48,51}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{154,53},{48,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./giant_bamboo8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,2}</string>
    <key>spriteSize</key>
    <string>{50,52}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{0,55},{50,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./giant_bamboo9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,2}</string>
    <key>spriteSize</key>
    <string>{50,53}</string>
    <key>spriteSourceSize</key>
    <string>{62,62}</string>
    <key>textureRect</key>
    <string>{{0,0},{50,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{204,158}</string>
   <key>textureFileName</key>
   <string>giant_bamboo.png</string>
  </dict>
 </dict>
</plist>
