<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./giant_slime_idle0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{40,22}</string>
    <key>spriteSourceSize</key>
    <string>{50,36}</string>
    <key>textureRect</key>
    <string>{{42,23},{40,22}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./giant_slime_idle1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{40,23}</string>
    <key>spriteSourceSize</key>
    <string>{50,36}</string>
    <key>textureRect</key>
    <string>{{0,23},{40,23}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./giant_slime_idle2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{46,21}</string>
    <key>spriteSourceSize</key>
    <string>{50,36}</string>
    <key>textureRect</key>
    <string>{{0,0},{46,21}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./giant_slime_idle3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{48,18}</string>
    <key>spriteSourceSize</key>
    <string>{50,36}</string>
    <key>textureRect</key>
    <string>{{0,48},{48,18}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./giant_slime_idle4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-4}</string>
    <key>spriteSize</key>
    <string>{40,15}</string>
    <key>spriteSourceSize</key>
    <string>{50,36}</string>
    <key>textureRect</key>
    <string>{{0,68},{40,15}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{84,85}</string>
   <key>textureFileName</key>
   <string>giant_slime.png</string>
  </dict>
 </dict>
</plist>
