<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./Racoon1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,49}</string>
    <key>spriteSourceSize</key>
    <string>{55,53}</string>
    <key>textureRect</key>
    <string>{{0,0},{55,49}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Racoon2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{43,49}</string>
    <key>spriteSourceSize</key>
    <string>{55,53}</string>
    <key>textureRect</key>
    <string>{{57,0},{43,49}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Racoon3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,4}</string>
    <key>spriteSize</key>
    <string>{45,44}</string>
    <key>spriteSourceSize</key>
    <string>{55,53}</string>
    <key>textureRect</key>
    <string>{{55,51},{45,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Racoon4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,5}</string>
    <key>spriteSize</key>
    <string>{47,43}</string>
    <key>spriteSourceSize</key>
    <string>{55,53}</string>
    <key>textureRect</key>
    <string>{{51,97},{47,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Racoon5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,4}</string>
    <key>spriteSize</key>
    <string>{49,43}</string>
    <key>spriteSourceSize</key>
    <string>{55,53}</string>
    <key>textureRect</key>
    <string>{{0,97},{49,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Racoon6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{53,44}</string>
    <key>spriteSourceSize</key>
    <string>{55,53}</string>
    <key>textureRect</key>
    <string>{{0,51},{53,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{102,142}</string>
   <key>textureFileName</key>
   <string>racoon.png</string>
  </dict>
 </dict>
</plist>
