<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./Tengu1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{53,33}</string>
    <key>spriteSourceSize</key>
    <string>{53,34}</string>
    <key>textureRect</key>
    <string>{{55,0},{53,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Tengu2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{53,34}</string>
    <key>spriteSourceSize</key>
    <string>{53,34}</string>
    <key>textureRect</key>
    <string>{{0,0},{53,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Tengu3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{53,33}</string>
    <key>spriteSourceSize</key>
    <string>{53,34}</string>
    <key>textureRect</key>
    <string>{{55,35},{53,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Tengu4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{53,32}</string>
    <key>spriteSourceSize</key>
    <string>{53,34}</string>
    <key>textureRect</key>
    <string>{{0,72},{53,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Tengu5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{53,34}</string>
    <key>spriteSourceSize</key>
    <string>{53,34}</string>
    <key>textureRect</key>
    <string>{{0,36},{53,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Tengu6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{53,33}</string>
    <key>spriteSourceSize</key>
    <string>{53,34}</string>
    <key>textureRect</key>
    <string>{{55,70},{53,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{110,106}</string>
   <key>textureFileName</key>
   <string>tengu.png</string>
  </dict>
 </dict>
</plist>
